.debug-border {
    border: 5px solid red;
}

.debug-blue {
    background-color: blue;
}

.debug-green {
    background-color: green;
}

.debug-height-600 {
    min-height: 600px;
}


.testimonials img {
    min-width: 150px;
}
