/* GENERAL */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

body {
    font-family: Helvetica, sans-serif;
}

button {
    all: unset;
    cursor: pointer;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding-right: 2rem;
}

/* HEADER */

.navbar {
    padding: 1em 2em;
}

.navbar > .menu {
    font-size: 1.5rem;
}

.navbar > .desktop-menu {
    display: none;
}

/* MAIN */

section {
    padding: 2rem;
}

.cards .col {
    width: 100%;
    padding-bottom: 1.5rem;
}

#demo-card {
    padding: 2rem 2rem 0;
}

.cards .card {
    background-color: #b5ddff;
    border-radius: 1.5rem;
    padding: 2rem;
}

.card-txt {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card-btn button {
    width: 10em;
    padding: 0.5em 1em;
    border-radius: 1em;
}

.strategic-planning .app-dev-card {
    border-radius: 1.5rem;
    text-align: center;
}

.testimonials .card {
    padding: 1.5rem;
    border-radius: 1.5rem;
}

.testimonials .card-img img {
    border-radius: 100%;
    width: 30vw;
    height: 30vw;
    object-fit: cover;
    max-width: unset;
}

.benefits .card {
    border-radius: 1.5rem;
}

.benefits h2 {
    font-size: 3rem;
}

.about-us img {
    border-radius: 100%;
}

.about-us .img-wrapper {
    position: relative;
}

.about-us .quote {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 8rem;
}

.get-started h3 {
    font-size: 3rem;
}

.get-started h2 {
    font-size: 5rem;
}

.footerbar {
    padding: 1rem 0;
}
/* FOOTER */



/* MEDIA QUERIES */

/* TABLET */
@media screen and (min-width:481px) and (max-width: 992px) {

    .cards .card-btn, .card-img {
        text-align: center;
        border: 1px solid red;
        align-self: start;
    }

    .cards .card-img img {
        max-width: 50%;
    }

    .testimonials .card.bg-purple {
        flex-direction: row;
        gap: 0.5rem;
    }

    .benefits .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .benefits .card {
        width: calc(50% - 1.5rem);
    }

    .about-us .container {
        flex-direction: row;
    }

    .about-us .col.big-col {
        width: 70%;
        line-height: 2rem;
    }
    .about-us .col.small-col {
        width: 30%;
        font-size: 1.5rem;
    }

    .get-started .container, footer .container {
        width: 50%;
        margin:auto;
    }
}
   

/* DESKTOP */
@media screen and (min-width: 993px) {
    .navbar {
        padding: 1em 0;
        width: 67%;
        margin: auto;
    }

    .navbar > .menu {
        display: none;
    }

    .navbar > .desktop-menu {
        display: block;
    }

    .container {
        width: calc(67% + 4rem);
        margin: auto;
    }

    #demo-card {
        flex-direction: row;
    }

    .cards .card-txt {
        width: 50%;
        padding-bottom: 1.5rem;
    }
    
    .cards .card-img {
        display: flex;
        justify-content: center;
        align-self: flex-end;
    }
   
    .strategic-planning .container {
        flex-direction: row;
    }

    .strategic-planning .col {
        width: 50%;
        padding: 1.5rem;
    }

    .strategic-planning .col:first-of-type {
        width: 60%;
    }

    .strategic-planning .col:last-of-type {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .testimonials .card.bg-purple {
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
    }

    .testimonials .card-img {
        width: 50%;
    }

    .benefits .container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .benefits .card {
        width: calc(33% - 1rem);
    }

    .about-us .container {
        flex-direction: row;
    }

    .about-us .col.big-col {
        width: 70%;
        line-height: 3rem;
    }
    .about-us .col.small-col {
        width: 30%;
        font-size: 1.5rem;
    }

    .get-started .container, footer .container {
        width: 50%;
        margin:auto;
    }
    
}

/* > 480 */

@media screen and (min-width: 481px) {
    .col {
        padding: .5rem;
    }
    

    #demo-col {
        width: 66%;
    }

    .cards .col {
        width: 33%;
    }


}