/* GENERAL */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.boxed {
    width: 80%; 
    margin: auto}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding-right: 2rem;
}

/* HEADER */

.navbar {
    padding: 1em 2em;
}

.navbar > .menu {
    font-size: 1.5rem;
}

.navbar > .desktop-menu {
    display: none;
}

/* MAIN */

.container {
    padding: 3rem 0 6rem;
    gap: 1.5rem;
}

.card {
    border-radius: 1.5rem;
    width: 100%;
}

.card .card-img {
    display: block;
}

/* FOOTER */



/* MEDIA QUERIES */

/* TABLET */
@media screen and (min-width:481px) and (max-width: 768px) {

    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        width: 30%;
    }

    .container > div:first-of-type {
        width: calc(60% + 1.5rem);
    }
}

/* DESKTOP */
@media screen and (min-width: 769px) {
    .navbar {
        padding: 1em 0;
        width: 67%;
        margin: auto;
    }

    .navbar > .menu {
        display: none;
    }

    .navbar > .desktop-menu {
        display: block;
    }

    .container {
        width: 67%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card {
        width: 30%;
    }

    .container > div:first-of-type {
        width: calc(60% + 1.5rem);
    }
}

